<!-- <div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado de Personas</h1>
      <button class="btn btn-primary" 
      [disabled]="disable" 
      (click) = "addPerson()">Add Person</button>
      <p *ngIf="show; else noPeople">{{message}} with tile {{title}}</p>
      <ng-template #noPeople></ng-template>
      <p>No people has been added</p>
      <app-persona></app-persona>

      <label>Person Title</label>
      <input type="text" class="form-control"
      [(ngModel)]="title">
      {{title}}
    </div>
  </div>
</div> -->

    <!-- <app-formulario (personaCreada)="personaAgregada($event)"></app-formulario> -->

<div style="text-align: center">
  <button style="cursor: pointer" (click)="agregar()">+</button>
</div>    
<div class="box">
      <app-persona
      *ngFor="let personaElemento of personas; let i = index"
      [persona] = "personaElemento"
      [indice] = "i"
      ></app-persona>
  </div>

<!--   
  <div class="box">
  <app-formulario></app-formulario>
  </div> -->
  <router-outlet></router-outlet>