<form class="item">
        <!-- <input type="text" name="nombre" id="nombre" placeholder="Nombre" #nombreInput> -->
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)] = "nombreInput">
        <input type="text" name="apellido" id="apellido" placeholder="Apellido" [(ngModel)] = "apellidoInput">
        <button type="submit" 
        class="btn btn-primary" 
        (click)="agregarPersona()">
        +                
        </button>
        <!-- <button type="submit" 
        class="btn btn-primary" 
        (click)="agregarPersona(nombreInput,apellidoInput)">
        Agregar                
        </button> -->

</form>
<!-- 
<form>
    <div class="form-group">
        <label>Operando A</label>
        <input type="number" class="form-control" placeholder="Escribir A" [(ngModel)]="operando1" name="operando1">
    </div>
    <div class="form-group">
    <label>Operando B</label>
    <input type="number" class="form-control" placeholder="Escribir B" [(ngModel)]="operando2" name="operando2">
    </div>
    <button type="submit" class="btn btn-primary" 
    (click) = "Sum()">Sumar</button>
</form> -->